
body {
font-family: 'Roboto', sans-serif;
    
}

.container {
    width: 100%;
    max-width: 1158px;
    margin: 0 auto;
    padding: 0px 15px;
}

img {
    display: block;
}


:root {
}

p,
h1, 
h2, 
h3, 
h4, 
h5 {
    margin: 0;
}

ul {
    margin: 0;
    padding: 0;
}



.hero, .feature, .team, .work {
    padding: 120px 0;
}


.logo {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.3333;
    display: flex;
    align-items: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #2E2F42;
    text-decoration: none;
    margin-right: 76px;

 }

 .colortext {
    color: #4D5AE5;
    }


/* HEADER */
.header {
    background-color: white;
    border-bottom-style: solid;
    border-bottom-color: #E7E9FC;
    border-bottom-width: 1px;
    gap: 40px;
    padding: 0 15px 0 15px;

}

.header-container {
    display: flex;
    align-items: center;
}

.header-nav {
    display: flex;
    align-items: center;
    list-style: none;
    flex-grow: 1;
    margin-right: auto;
    
}

.header-menu {
    display: flex;
    list-style: none;
    gap: 40px;
    
}

.header-nav-link:hover,
.header-nav-link:focus {
color: #404BBF;
}

.header-nav-link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2E2F42;
    text-decoration: none;
    display: flex;
    padding: 24px 0;
 
}

.contacts-address {
    font-style: inherit;
}

.contacts-list {
    list-style-type: none;
    text-decoration: none;
    display: flex;
    gap: 40px;
}
        
.contacts-link {
font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #434455;
text-decoration: none;
list-style: none;
margin-right: 40px;
}

.contacts-link:hover,
.contacts-link:focus {
    
    color: #404BBF;
} 

    /* HERO */
.hero {
    background: #2E2F42;
    padding-top: 188px;
    padding-bottom: 188px;
}

.hero-container {

}

.hero-title {
font-size: 56px;
line-height: 1.0714;
text-align: center;
letter-spacing: 0.02em;
color: #FFFFFF;
margin: 0 auto 48px auto;
max-width: 496px;
}

.hero-btn {
font-family: inherit;
font-weight: 500;
font-size: 16px;
line-height: 1.5;
display: flex;
/* align-items: center; */
display: block;
letter-spacing: 0.04em;
color: #FFFFFF;
background: #4D5AE5;
border: none;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
border-radius: 4px;
padding: 16px;
margin: 0 auto;
min-width: 169px;
height: 56px;
cursor: pointer;
}

/* FEATURE */

.feature {
    padding-top: 120px;
    padding-bottom: 120px;
}

.feature-list {
list-style-type: none;
display: flex;
gap: 24px;
/* flex-basis: calc(( 100% - 72px )/ 4); */
/* padding-right: 24px; */
/* gap: 24px; */
/* flex-wrap: wrap; */

}

.scroll-box {
    flex-basis: calc((100%-72px)/4);
    gap: 24px;

}

.feature-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2E2F42;
    margin-bottom: 8px;
    
}

.feature-uptitle {
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #434455;

 }

 /* WORK */

 .work-container {
    
 }
/* 
 .work {
    padding-bottom: 120px;
 } */


 .work-title {
font-size: 36px;
line-height: 1.1111;
text-align: center;
letter-spacing: 0.02em;
text-transform: capitalize;
color: #2E2F42;
margin-bottom: 72px;

 }

 .work-list {
list-style-type: none;
display: flex;
gap: 24px;
justify-content: center;
}

.work-list-item {
    flex-basis: calc((100% - 48px) / 3);
}

/* TEAM */

.team {
background-color: #F4F4FD;
}

.team-title {
font-size: 36px;
line-height: 1.1111;
text-align: center;
letter-spacing: 0.02em;
text-transform: capitalize;
color: #2E2F42;
margin-bottom: 72px;
}

.team-list {
list-style-type: none;
display: flex;
gap: 24px;
flex-wrap: wrap;
padding-left: 0px;


}

.list-item {
flex-basis: calc(( 100% - 72px ) / 4);
background-color: white;
border: #E7E9FC;
border-width:  1px;
border-style: solid;
border-radius: 0px 0px 4px 4px;
}
.photo {
    margin-bottom: 32px;
    display: block;
    max-width: 100%;
     
}

.team-member {
    padding: 32px 16px;
    border-radius: 0px 0px 4px 4px;


}
.member {
font-weight: 500;
font-size: 20px;
line-height: 1.2;
text-align: center;
letter-spacing: 0.02em;
color: #2E2F42;
margin-bottom: 8px;
}

.member-position {
font-size: 16px;
line-height: 1.5;
text-align: center;
letter-spacing: 0.02em;
color: #434455;
    
}

/* FOOTER */

.footer {
background-color: #2E2F42;
padding-top: 100px;
padding-bottom: 100px;

}

.footer-uptitle {
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #E7E9FC;
max-width: 264px;
    
}

.logo-footer {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.1666;
    display: flex;
    align-items: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    text-decoration: none;
    color: #F4F4FD;
    margin-bottom: 16px;
    display: inline-block;
    
}

.colortext-footer {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.1666;
    display: flex;
    align-items: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4D5AE5;
    display: inline-block;
    
}


/*----------------------------------------PORTFOLIO--------------------------------------------- */
.container-portfolio {
    padding: 96px 120px;
}
.list {
    list-style: none;
    text-decoration: none;
    display: flex;
    justify-content: center; 
    gap: 24px;
    margin-bottom: 72px;    
     
}

img {
    display: block;
}

.nav-list-btn {
font-family: inherit;
font-weight: 500;
font-size: 16px;
line-height: 1.5;
display: flex;
align-items: center;
text-align: center;
letter-spacing: 0.04em;
color: #4D5AE5;
min-width: 69px;
padding: 12px 24px;
margin-bottom: 72px;
background: #F4F4FD;
border: 1px solid #E7E9FC;
border-radius: 4px;

}

.nav-list-btn:hover,
.nav-list-btn:focus {
color: #FFFFFF;
background-color:#404BBF;
border: 1px solid transparent; 

}

.portfolio-work {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
    text-decoration: none;

}

.portfolio-list {
list-style-type: none;
display: flex;
gap: 24px;
flex-wrap: wrap;
padding-left: 0px;
padding-bottom: 120px;
row-gap: 48px;

}

.portfolio-item {
    /* max-width: 360px; */
    width: calc((100% - 48px) / 3); 
   
}

.portfolio-item:nth-child(3n+1) {
    margin-right: 0px;
}

.portfolio-title {
font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
color: #2E2F42;
margin-bottom: 8px;

}

.portfolio-uptitle {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    margin-top: 0;
}

.link-portfolio {
    text-decoration: none;
}
