:root {
    /* figma text color */
    --color-iris: #4d5ae5;
    --color-ocean: #404bbf;
    --color-navy-blue: #2e2f42;
    --color-green: #31d0aa;
    --color-slate: #434455;
    --color-light-slate: #8e8f99;
    --color-cornflower: #e7e9fc;
    --color-cloud: #f4f4fd;
    --color-navy-blue-modal: #2e2f42;
    --color-grey: #2e2f42;
    --color-white: #ffffff;
    --color-dairy: #fcfcfc;


    /* fonts */
    --primary-font: 'roboto', sens-serif;
}

body {
    font-family: "Roboto", sans-serif;

    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--color-slate);
    background-color: var(--color-white);
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}


/* reset start */
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
    margin: 0;
}

img {
    display: block;

}

.list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.link {
    text-decoration: none;
}

/* reset end */
.container {
    width: 1158px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;


    /* outline: 2px solid red;
    outline-offset: -2px; */
}

/* base Styles */
.section {}

.header-logo {
    font-family: "Raleway", sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--color-iris);
    text-decoration: none;
    margin-right: 76px;
}

.footer-logo {
    display: inline-block;
    font-family: "Raleway", sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--color-iris);
    text-decoration: none;
    margin-bottom: 16px;

}

.logo-dark {
    color: var(--color-navy-blue);
}

.logo-light {
    color: var(--color-cloud);
}

/* Header Styles */

.header {
    border-bottom: 1px solid var(--color-cornflower);
}



.header-container {
    display: flex;
    align-items: center;
}

.header-nav {
    display: flex;
    align-items: center;
}

.logo {}

.logo-dark {}

.header-list {

    color: var(--color-navy-blue);
    display: flex;
    align-items: center;
    gap: 40px;
}


.header-item {
    /*  */
}

.header-link {
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--color-navy-blue);
    display: block;
    padding: 24px 0px;
}

.header-link:hover,
.header-link:focus {
    color: var(--color-ocean)
}

.header-contact {
    font-style: normal;
    margin-left: auto;
}

.contact-list {
    display: flex;
    align-items: center;
    gap: 40px;
}

.header-cont {
    font-family: var(--primary-font);
    font-style: normal;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--color-slate);
    text-decoration: none;
    display: block;
    padding: 24px 0px;
}

.header-cont:hover,
.header-cont:focus {
    color: var(--color-ocean);
}

/* Hero Styles */
.hero {
    padding-top: 188px;
    padding-bottom: 188px;
    font-family: "Roboto", sans-serif;
    background-color: var(--color-navy-blue);
}

/* .hero-title-container {

    padding-bottom: 48px;
    padding-left: 0;
    padding-right: 0;
    
} */


.hero-title {
    max-width: 496px;
    font-family: var(--primary-font);
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    color: var(--color-white);
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 48px;
}


/* BUTTON */

.btn {
    display: flex;
    align-items: center;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    cursor: pointer;
    border-radius: 4px;
    border: none;
}

.hero-button {
    display: block;
    padding: 16px 32px;
    margin-left: auto;
    margin-right: auto;
    background-color: var(--color-iris);
    color: var(--color-white);
    min-width: 169px;
    height: 56px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border: none;
}

.hero-button:hover,
.hero-button:focus {
    background-color: var(--color-ocean);
}






/* FEATURE Styles */

.feature {
    padding: 120px 0
}

.feature-title {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 56px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--color-navy-blue);

}

.feature-list {
    display: flex;
    gap: 24px;



}

.feature-item {}

.feature-undertitle {
    font-family: var(--primary-font);
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--color-navy-blue);
    margin-bottom: 8px;
}

.feature-desc {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 1.5x;
    letter-spacing: 0.02em;
    color: var(--color-slate);
    width: 264px;
}

.benefits {
    padding-bottom: 120px;
}

.section {}

.benefits-title {
    margin-bottom: 72px;
    font-family: var(--primary-font);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--color-grey);
}

.benefits-list {
    display: flex;
    gap: 24px;
}

.benefits-list-item {}

.team {
    padding: 120px 0;
    background-color: var(--color-cloud);
}

.team-title {
    margin-bottom: 72px;
    font-family: var(--primary-font);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--color-navy-blue);

}

.team-list {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
}

.team-item {
    width: calc((100% - 3 * 24px) / 4);
    background-color: var(--color-white);

}

.team-item-desc {
    padding: 32px 16px;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    border-radius: 0px 0px 4px 4px;
}

.team-undertitle {
    margin-bottom: 8px;
    font-family: var(--primary-font);
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    text-align: center;
    letter-spacing: 0.02em;
    color: var(--color-navy-blue);
}

.team-desc {
    font-family: 'Roboto';


    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 0.02em;
    color: var(--color-slate);
}

.footer {
    text-decoration: none;
    background-color: var(--color-navy-blue);
    padding-top: 100px;
    padding-bottom: 100px;
}

.footer-container {
    padding-top: 100px;
    padding-bottom: 100px;
}

.footer-desc {
    font-family: 'Roboto' sans-serif;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--color-cloud);
    width: 264px;
}



/* portfolio  */

.filter {
    padding: 96px 0 120px 0;
}

.filter-list-btn {
    display: flex;
    justify-content: center;
    gap: 24px;
    margin-bottom: 72px;
}

.filter-list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;

}

.filter-list-item {
    width: calc((100% - 48px) / 3);
}

.preview-desc {
    padding: 32px 16px;
    border-right: 1px solid var(--color-cornflower);
    border-bottom: 1px solid var(--color-cornflower);
    border-left: 1px solid var(--color-cornflower);
    
}

.preview-title {
    margin-bottom: 8px;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--color-navy-blue);
}

.preview-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--color-slate);
}

/* BUTTON portfolio */
.filter-btn {

    padding: 12px 24px;
    max-width: 126px;
    min-width: 69px;
    height: 48px;
    text-align: center;
    color: var(--color-iris);
    background-color: var(--color-cloud);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    border: 1px solid var(--color-cornflower);
}

.filter-btn:hover,
.filter-btn:focus {
    color: var(--color-white);
    background-color: var(--color-ocean);
    border: 1px solid transparent;
}